#nav-bar {
  background: #1DA1F2;
  color: #e8fdff;
  height: 60px;
  left: 0;
  line-height: 60px;
  padding: 0em 2em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  padding-left: 10px;
}

#nav-bar .logo {
  float: left;
  height: 60px;
  opacity: 0.6;
}